@CHARSET "UTF-8";

.classFooterLogin{
	margin-left: 85%;
	
}

.btn-right{
	margin-left: 70%;	
}

.classFooterLoginOn{
	margin-left: 75%;
}

th{
	text-align: center;	
}

td{
	text-align: center;
}

.viewButton{
	margin-left: 66%;
}